[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "DeepSomaticCopy"
version = "0.0.3"
authors = [
  { name="Example Author", email="author@example.com" },
]
description = "A small example package"
readme = "README.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = ['numpy >= 1.17.0', 'pandas >= 1.2.3', 'statsmodels >= 0.13.5', 'pysam >= 0.15.3', 'torch >= 1.10.0']


[project.urls]
"Homepage" = "https://github.com/pypa/sampleproject"
"Bug Tracker" = "https://github.com/pypa/sampleproject/issues"