# This file allows for different column headings in BOMs, different units of 
# measure, etc..

# Adjust this file to suit your needs.  Remove the leading semi-colon (;) 
# character that precedes a setting that you wish to establish.  For any
# setting not set below, i.e. when the ; character is left in place, the
# bomcheck program will use its own default value.  Note: the getcfg() 
# (or bc.getcfg()) function can be used to see current configuration settings.
# _____________________________________________________________________________


[integers]

# decimal point accuracy applied to lengths in a SolidWorks BOM
# (single value only):

;accuracy = 2


[lists]

# In a SolidWorks BOM, do not do any length conversions for these part
# numbers.  Simply ignore that the length is present in the BOM.  (OK 
# to use glob expressions (*).  Lists allowed.  Separate list values with
# commas.  reference: https://en.wikipedia.org/wiki/Glob_(programming), 

;ignore = 3086-*

# All the column names that might be shown on a SyteLine/SolidWorks BOM for
# part numbers.  Note that names are case sensitive, so "Part Number" is 
# not the same as "PART NUMBER". (Lists allowed.  Separate list values with
# commas):

;part_num = Material, PARTNUMBER, PART NUMBER, Part Number, Item

# All the column names that might be shown on a SyteLine/SolidWorks BOM for
# quantities of parts.  Note that names are case sensitive, so "Qty" is 
# not the same as "QTY".  Lists allowed.  Separate list values with commas:

;qty = QTY, QTY., Qty, Quantity, Qty Per

# All the column names that might be shown on a SyteLine SolidWorks BOM for
# part descriptions.  Note that names are case sensitive, so "Description"
# is not the same as "DESCRIPTION".  Lists allowed.  Separate list values
# with commas:

;descrip = DESCRIPTION, Material Description, Description

# All the column names that might be shown on a SyteLine BOM for Unit of 
# Measure.  Note that names are case sensitive, so "um" is not the same as
# "UM".  Lists allowed.  Separate list values with commas:

;um_sl = UM, U/M

# All the column names that might be shown on a Solidworks BOM for the item 
# number of a part.  Note that names are case sensitive, so "Item No." is not
# the same as "ITEM NO.".  (Note: this program is not designed to manage item
# numbers shown on a SyteLine BOM.).  The bomcheck program uses this column to
# determine the level of a subassembly within a multilevel SolidWorks BOM.  In
# this case, item numbers will be like 1, 2, 3, 3.1, 3.2, 4, 5, 5.1; where
# items 3 and 5 are subassemblies.  Lists allowed.  Separate list values with
# commas:

;itm_sw = ITEM NO.

# All the column names that might be shown on a SyteLine BOM for subassembly
# level.  Note that names are case sensitive, so "Level" is not the same
# as "LEVEL".  Items in the level column will look like: 0, 1, 1, 2, 2, 1, 2
# 2, 3, 1... and so forth.  Lists allowed.  Separate list values with commas:

;level_sl = Level

# Various names that the Length column in SolidWorks might have.  Note that,
# in SolidWorks, the quantity column contains the number of a particular item,
# and the length column contains the length of that item.  For exaample, a
# quatity of 4 beams, each 20" long.  Lists allowed.  Separate list values 
# with commas:

;length_sw = LENGTH, Length, L, SIZE, AMT, AMOUNT, MEAS, COST

# ### THE FOLLOWING WORKS ONLY WHEN BOMCHECKGUI IS NOT BEING USED ###
# Bomcheckgui has its own way to assign this variable.
# Part numbers in this list will be discarded from the SolidWorks BOM so that
# they will not show up in the bom check report (OK to use glob expressions 
# (*). Reference: https://en.wikipedia.org/wiki/Glob_(programming). 
# Lists allowed.  Separate list values with commas:

;drop = 3*-025, 3*-0, 3800-*

# ### THE FOLLOWING WORKS ONLY WHEN BOMCHECKGUI IS NOT BEING USED ###
# Bomcheckgui has its own way to assign this variable.
# Excecptions to the part numbers in the drop list shown above (OK to use glob
# expressions (*).  Reference: https://en.wikipedia.org/wiki/Glob_(programming),
# Lists allowed.  Separate list values with commas:

;exceptions = 3510-0200-025, 3086-1542-025

# SyteLine can have a column named "Obsolete Date".  In that column are shown
# dates for when part numbers stopped being used in a BOM.  If the bomcheck
# program finds this column, and finds a date corresponding to a particular
# part number, then this part number will be discarded from the bom check.

;obs = Obsolete Date, Obsolete


[single_values]

# ########### USED ONLY WHEN BOMCHECKGUI IS NOT BEING USED #################
# The unit of measure of lengths from a SolidWorks BOM are understood to be
# inches unless a unit of measure is afixed to a length (e.g. 507mm).  Valid
# units of measure: inch, feet, yard, millimenter, centimeter, meter. (Single
# value only):

;from_um = inch

# ########### USED ONLY WHEN BOMCHECKGUI IS NOT BEING USED #################
# If no matching item is found in a SyteLine BOM for a given item in a SW BOM,
# then convert to this U/M.  Otherwise convert to the U/M given in the SL BOM
# measure.  (Single value only):

;to_um = feet

# If an area of an item is specified in the SW length column, e.g. 13.5 sqmm,
# then during program execution convert to this U/M just prior to comparing
# the SW BOM to that in SyteLine.  Otherwise if the item is found in the ERP
# (SyteLine) BOM, this U/M will be ignored and will be converted to the U/M in
# the ERP.  (Single value only.):

;toA_um = SQI

# If a liguid volume of an item is specified in the length column, e.g. 4.5 pt,
# convert to this U/M.  If the item is found in the ERP (SyteLine) BOM, it will
# be converted to that U/M; this U/M will be ignored.  (Single value only.):

;toL_um = GAL

# A bom check results table has names like assy, Item, i, q, d, etc.  These
# names can be changed.  For example, if you want to change i to some other 
# letter, like p (for part), then do i = p.

;assy = assy
;Item = Item
;i = i
;q = q
;d = d
;u = u
;Q = Q
;Description = Description
;U = U

# SyteLine BOMs have columns named Op (Operation), and WC (Work Center) for
# what occurs for a particular operation.  These values are placed in a
# SolidWorks BOM just prior to it being comparted to a SyteLine BOM.  For
# the most part, you can ignore doing anything with these variables.

;Op = Op
;OpValue = 10
;WC = WC
;WCvalue = PICK
