@charset "utf-8";

$green: #48c78e;
$black: #0a0a0a;
$beige: #EFF0EB;
$primary: $green;
$readonly: $beige;
$body-font-size: 1em;
$link: $black;
$table-cell-padding: .2rem .75rem .2rem 0;
$navbar-height: 3rem;

//input:read-only {
//    border-top: transparent;
//    border-right: transparent;
//    border-left: transparent;
//    border-radius: 0;
//}
//
//input:read-only:focus {
//    outline: 1px solid transparent !important;
//    border-top: transparent;
//    border-right: transparent;
//    border-left: transparent;
//    border-radius: 0;
//}

.columns {
    margin: 0 !important;
}

.columns:last-child {
    margin-bottom: 0;
}

.main-columns {
    padding-top: $navbar-height;
    height: 100vh;
}

.column {
    padding: 0 !important;
}

td > a {
    display:block;
    width:100%;
}

td, th {
    font-size: .9em;
}

.side-panel * .panel-block:not(:last-child) {
    border-bottom: none !important;
}

.level * {
    max-width: 100%;
}

.level * p {
    word-break: break-all;
}

input:focus {
    outline: 1px solid $primary !important;
    border: 1px solid $primary !important;
}

select:focus {
    outline: 1px solid $primary !important;
    border: 1px solid $primary !important;
}

.select:not(.is-multiple):not(.is-loading)::after {
    border-color: $primary !important;
}

.button:focus {
    outline: 1px solid $primary !important;
    border: 1px solid $primary !important;
}

.query-params {
    padding-left: 12px;
    margin-top: 4px;
    font-size: 1em;
}

.query-param {
    outline: none;
    padding-bottom: 4px;
}

.query-param > p:hover, .query-param:focus > p {
    background: lightgray;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
}

.query-tag-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    padding-bottom: 8px;
    border-radius: 4px;
    background-color: lightgray;
    cursor: pointer;
}

.query-tag-group > .query-tag {
    background-color: transparent;
    margin: 0;
    padding: 8px 8px 0 8px;
}

.query-tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 8px;
    background-color: lightgray;
    border-radius: 4px;
    cursor: pointer;
}

.query-tag-text {
    word-break: break-word;
}

.selected-query-tag {
    background-color: $primary !important;
}

.arrow:before {
    content: '\21B3';
}

.arrowless {
    text-indent: 13px;
}

.field.has-addons {
    margin-bottom: 0;
}

.field:not(:last-child) {
    margin-bottom: 0;
}

.label.has-field {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-weight: 300;
    word-break: break-word;
    padding: 12px 12px 12px 0;
}

.label.is-required {
    font-weight: 700;
}

.is-detail {}

.label.is-detail {
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.label.is-detail > div {
    border-bottom: 1px #ccc solid;
    font-weight: 300;
}

.label.is-detail * p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .5em;
    min-height: 2.5em;
}

.label.is-detail * a.button {
    border: transparent;
}

.label.is-detail * a.button:first-child {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 768px) {
    .label.has-field {
        padding: 12px 0 12px 0;
    }
}

@media screen and (max-width: 1407px) {
    td, th {
        font-size: 1em;
    }
}

@import "../bulma/bulma.sass";
