/*
Gertrude --- GTD done right
Copyright © 2020, 2021, 2023 Tanguy Le Carrour <tanguy@bioneland.org>

Gertrude is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

Gertrude is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

li {
    padding: 0.8em
    border: 1px solid lightgrey
    border-bottom: 0px
}

dl dt { font-weight: bold; }
dl dd { padding-left: 1em; }

.page {
    flex: 1;
}

.footer {
    padding: 1.5em;
}

.section {
    padding: 2em 1.5em;
}

.gtd-workflow .title {
    margin-top: 1.5em;
}

.gtd-workflow .title:first-child {
    margin-top: 0em;
}

.gtd-workflow .title .icon {
    margin-right: 0.5em;
}

.gtd-workflow .subtitle {
    margin-bottom: 0.5em;
}
